.App {
  text-align: center;
  background: lightgray;
}
/* @media (min-width: 801px) {
  .Laptop {
    width: 100vw;
    background:lightcoral;
  }
  .Phone {
    display:none;
  }
}
@media (max-width: 800px) {
  .Laptop {
    display:none;
  }
  .Phone {    
    width: 100vw;
    background: lightblue;
  }
} */